@{
    ViewData["Title"] = "Confirmación de Email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email, you can now log in to the system.
    </p>
</div>
